<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key> <true/>
        <key>Label</key> <string>com.staticfloat.{{service_name}}</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/bin/sudo</string>
            <string>-u</string>
            <string>{{user}}</string>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>{{script_setup}}; {{daemon_name}} {{daemon_opts}}</string>
        </array>
        <key>WorkingDirectory</key>
        <string>{{chdir}}</string>
        <key>StandardOutPath</key>
        <string>/tmp/{{service_name}}.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/{{service_name}}.log</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin</string>
        </dict>
    </dict>
</plist>
